---
/**
 * FlashDraft - Draft Overview Page
 * 
 * Shows list of saved drafts and option to start new draft.
 */

import Layout from '../layouts/Layout.astro';
import DraftOverview from '../frontend/components/DraftOverview';
---

<Layout title="FlashDraft - Draft Overview">
  <main>
    <div id="draft-overview-root">
      <DraftOverview client:visible />
    </div>
  </main>
</Layout>
