---
/**
 * FlashDraft - Draft Overview Page
 * 
 * Shows list of saved drafts and option to start new draft.
 */

import Layout from '../layouts/Layout.astro';
---

<Layout title="FlashDraft - Draft Overview">
  <main>
    <div id="draft-overview-root"></div>
  </main>
</Layout>

<script>
  import { createRoot } from 'react-dom/client';
  import DraftOverview from '../frontend/components/DraftOverview.tsx';

  const container = document.getElementById('draft-overview-root');
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(DraftOverview));
  }
</script>